
fieldset {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.short {
    width: 3em;
}

form {
width: 50%;
}

.inline {
    display: flex;
    flex-direction: row;
}

.halfw {

width: 40%;

}